body {
  background-image: url("assets/technology/background-technology-desktop.jpg");
}

@media (max-width: 768px) {
  body {
    background-image: url("assets/technology/background-technology-tablet.jpg");
  }
}

@media (max-width: 375px) {
  body {
    background-image: url("assets/technology/background-technology-mobile.jpg");
  }
}
